name: Construir VBasal

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    # 1. Descargar código
    - name: Chequear código
      uses: actions/checkout@v4

    # 2. Instalar Python
    - name: Instalar Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    # 3. Instalar Flutter Compatible
    - name: Instalar Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.24.5'
        cache: true

    # 4. Instalar dependencias
    - name: Instalar dependencias
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install flet==0.25.2

    # 5. Generar el APK (Con el nombre VBasal)
    - name: Construir APK
      run: |
        flet build apk --product "VBasal" --verbose

    # 6. Subir el APK
    - name: Subir el APK generado
      uses: actions/upload-artifact@v4
      with:
        name: app-release
        path: build/apk/app-release.apk
